.button {
	display: block;
	padding: rem-calc(16);
	border-radius: rem-calc(6);
	color: $white;
	text-align: center;
	text-decoration: none;
	background-color: $blue;
	transition: background-color 0.2s ease-in-out;
	&:hover,
	&:focus {
		background-color: darken($blue, 10%);
	}
}
